@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 :root {
  --background: #171717;
  --foreground: #ffffff;

  --muted: #393939;
  --muted-foreground: #94a3b8;

  --card: #272727;
  --card-foreground: #f8fafc;

  --popover: #1c1c1c;
  --popover-foreground: #f8fafc;

  --border: #4e4e4e;

  --input: #e2e8f0;

  --primary: #f8fafc;
  --primary-foreground: #782dac;

  --secondary: #2d2d2d;
  --secondary-foreground: #b133ce;

  --accent: #bbbbbb;
  --accent-foreground: #000000;

  --destructive: #7f1d1d;
  --destructive-foreground: #f8fafc;

  --ring: #d6d6d6;

  --radius: 0.5rem;
 }
}

@layer base {
 * {
  @apply border-border;
  margin: 0;
  padding: 0;
 }
 html {
  width: 100%;
  height: 100%;
 }
 body {
  @apply bg-background text-foreground w-full h-full;
  overflow-x: hidden;
  background-image: url("/dark.png");
  background-size: 850px;
  background-repeat: repeat;
 }
 .bg-body {
  @apply bg-background text-foreground;
  background-image: url("/dark.png");
  background-size: 850px;
  background-repeat: repeat;
 }

 .scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
 }

 .scrollbar-hidden::-webkit-scrollbar {
  display: none;
 }

 .shadow-inner-t {
  box-shadow: inset 0px 32px 40px -30px black;
 }

 .shadow-inner-b {
  box-shadow: inset 0px -32px 40px -30px black;
 }

 .shadow-inner-y {
  box-shadow: inset 0px -32px 40px -30px black, inset 0px 32px 40px -30px black;
 }

 .shadow-text-lg {
  text-shadow: 3px 3px 14px black;
 }

 .shadow-text-sm {
  text-shadow: 2px 2px 8px black;
 }

 .webkit-backface-visibility-hidden {
  backface-visibility: hidden;
 }
}
